<?xml version="1.0"?>
<!--URL=http://compliancefactors.com.lavender.arvixe.com/CFService/AuthenticationService.svc-->
<configuration>
	<connectionStrings>
		<!--<add name="ComplicanceFactorsConnectionString" connectionString="Data Source=Pixel34;Initial Catalog=ComplianceFactors;Persist Security Info=True;User ID=sa;Password=root" providerName="System.Data.SqlClient"/>-->
		<add name="ComplicanceFactorsConnectionString" connectionString="Data Source=lavender.arvixe.com;Initial Catalog=ComplianceFactors;Persist Security Info=True;User ID=Compliance;Password=A1b2c3d4" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<!--<add key="ConnectionString" value="SERVER=Pixel34;DATABASE=ComplianceFactors; uid=sa; pwd=root;"/>-->
		<add key="ConnectionString" value="SERVER=lavender.arvixe.com;DATABASE=ComplianceFactors; uid=Compliance; pwd=A1b2c3d4;" />
		<add key="SecurityKey" value="Compliancefactor"/>
    <add key="LogErrors" value="true" />

    <add key="FTPPath" value="ftp://174.121.42.195/"/>
    <add key="FTPFNUserName" value="FNImgAtt"/>
    <add key="FTPFNPwd" value="A1b2c3d4"/>
    <add key="FTPOJTUserName" value="OJTImgAtt"/>
    <add key="FTPOJTPwd" value="A1b2c3d4"/>
    <add key="FTPMIUserName" value="MIImgAtt"/>
    <add key="FTPMIPwd" value="A1b2c3d4"/>
    <!--<add key="FieldNotesImagePath" value="http://compliancefactors.com.lavender.arvixe.com/Compliance/SiteView/UploadFieldNotes"/> C:\HostingSpaces\compfact\compliancefactors.com\wwwroot\Services\-->
    <!--<add key="FieldNotesImagePath" value="C:\HostingSpaces\compfact\compliancefactors.com\compliancefactors.com\wwwroot\ComplianceSystem\Compliance\SiteView\FieldNotes\Attachments"></add>-->
    <!--<add key="InspectionImagePath" value="http://compliancefactors.com.lavender.arvixe.com/Compliance/SiteView/UploadInspection/"/>
    <add key="OJTImagePath" value="http://compliancefactors.com.lavender.arvixe.com/Compliance/SiteView/UploadOJT/"/>-->
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"></compilation>
		<!--
        The <authentication> section enables configuration 
        of the security authentication mode used by 
        ASP.NET to identify an incoming user. 
    -->
		<!--<authentication mode="Windows"/>-->
		<!--
        The <customErrors> section enables configuration 
        of what to do if/when an unhandled error occurs 
        during the execution of a request. Specifically, 
        it enables developers to configure html error pages 
        to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
		<!--<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>-->
  </system.web>
	<!-- 
      The system.webServer section is required for running ASP.NET AJAX under Internet
      Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
	<system.serviceModel>
    <serviceHostingEnvironment  multipleSiteBindingsEnabled="True"> <!--Need to Change multipleSiteBindingsEnabled="True" while hosting-->
    </serviceHostingEnvironment>

    <!--<services>
			<service behaviorConfiguration="ComplianceFactorService.AuthenticationServiceBehavior" name="ComplianceFactorService.AuthenticationService">
				<endpoint address="" binding="wsHttpBinding" contract="ComplianceFactorService.IAuthenticationService"  bindingConfiguration="WsHttpMtomBinding">
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
      
			<service behaviorConfiguration="ComplianceFactorService.CommunicationServiceBehavior" name="ComplianceFactorService.CommunicationService">
				<endpoint address="" binding="wsHttpBinding" contract="ComplianceFactorService.ICommunicationService" bindingConfiguration="WsHttpMtomBinding">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service behaviorConfiguration="ComplianceFactorService.NotificationServiceBehavior" name="ComplianceFactorService.NotificationService">
				<endpoint address="" binding="wsHttpBinding" contract="ComplianceFactorService.INotificationService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service behaviorConfiguration="ComplianceFactorService.ReportServiceBehavior" name="ComplianceFactorService.ReportService">
				<endpoint address="" binding="wsHttpBinding" contract="ComplianceFactorService.IReportService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>-->
    
    <!--<bindings>
      <wsHttpBinding>
        <binding name="WsHttpMtomBinding">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647"
                      maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <message establishSecurityContext="false"/>
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>-->

    <bindings>
      <basicHttpBinding>
        <binding name="WsHttpMtomBinding" maxReceivedMessageSize ="50000000" maxBufferPoolSize="50000000">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>

      <!--<wsHttpBinding>
        <binding name="WsHttpMtomBindingTest" maxReceivedMessageSize ="50000000" maxBufferPoolSize="50000000">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647"
                      maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <message establishSecurityContext="false"/>
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>-->
      
    </bindings>

    <services>
      <service behaviorConfiguration="ComplianceFactorService.AuthenticationServiceBehavior" name="ComplianceFactorService.AuthenticationService">
        <endpoint address="" binding="basicHttpBinding" contract="ComplianceFactorService.IAuthenticationService"  bindingConfiguration="WsHttpMtomBinding">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <service behaviorConfiguration="ComplianceFactorService.CommunicationServiceBehavior" name="ComplianceFactorService.CommunicationService">
        <endpoint address="" binding="basicHttpBinding" contract="ComplianceFactorService.ICommunicationService" bindingConfiguration="WsHttpMtomBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      
      <service behaviorConfiguration="ComplianceFactorService.NotificationServiceBehavior" name="ComplianceFactorService.NotificationService">
        <endpoint address="" binding="basicHttpBinding" contract="ComplianceFactorService.INotificationService" bindingConfiguration="WsHttpMtomBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      
      <service behaviorConfiguration="ComplianceFactorService.FileTransferServiceBehavior" name="ComplianceFactorService.FileTransferService">
        <endpoint address="" binding="basicHttpBinding" contract="ComplianceFactorService.IFileTransferService" bindingConfiguration="WsHttpMtomBinding">
          <identity>
            <dns value="www.compliancefactors.com.lavender.arvixe.com"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <!--<service behaviorConfiguration="ComplianceFactorService.FileTransferServiceBehavior" name="ComplianceFactorService.FileTransferService">
        <endpoint address="" binding="wsHttpBinding" contract="ComplianceFactorService.IFileTransferService" bindingConfiguration="WsHttpMtomBindingTest">
          <identity>
            <dns value="www.compliancefactors.com.lavender.arvixe.com"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>-->
    </services>

  
    
		<behaviors>
   <serviceBehaviors>
    <behavior name="ComplianceFactorService.AuthenticationServiceBehavior">
     <serviceMetadata httpGetEnabled="true" />
     <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>
    <behavior name="ComplianceFactorService.CommunicationServiceBehavior">
     <serviceMetadata httpGetEnabled="true" />
     <serviceDebug includeExceptionDetailInFaults="true" />
     <dataContractSerializer maxItemsInObjectGraph="2147483646" />
    </behavior>
    <behavior name="ComplianceFactorService.NotificationServiceBehavior">
     <serviceMetadata httpGetEnabled="true" />
     <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>
    <behavior name="ComplianceFactorService.FileTransferServiceBehavior">
     <serviceMetadata httpGetEnabled="true" />
     <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
   </serviceBehaviors>
  </behaviors>

    <!--<protocolMapping>--><!--to be add--><!--
      <add scheme="http" binding="wsHttpBinding" bindingConfiguration="WsHttpMtomBinding" />
    </protocolMapping >-->
	</system.serviceModel>
</configuration>
